* {
  border-box: box-sizing;
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-family: 'Ovo', serif;
}

body {
  color: #525353;
}

h4 {
  font-size: 2.2rem;
  padding: 6px 10px 2px;
}

.b-l-dinner {
  font-size: 1.1rem;
  padding: 0px 11px;;
}

.user-login {
  background-color: #13232A;
}

/* ====Login bar==== */
.user-login {
  align-items: center;
  display: grid;
  grid-template-columns: 80% 5% 10% 5%;
  grid-template-rows: 30px;
}

.user-icon {
  grid-column: 2;
  justify-self: end;
  margin: 4px;
}

.user-name {
  font-size: .8rem;
  justify-self: center;
  grid-column: 3;
  color: #FFFFFF;
}

.dropdown-icon {
  grid-column: 4;
  margin: 4px;
}

/* ======= navbar======= */
.nav-bar-container {
  display: grid;
  grid-template-columns: repeat(20% 20% 20% 10% 10%);
  grid-template-rows: 30px 85px;
  justify-items: stretch;
  align-items: center;
  background-color: #13232A;
}

.link1 {
  background-color: #13232A;
  grid-row: 2;
}

.link2 {
  background-color: #13232A;
  grid-row: 2;
}

.link3 {
  background-color: #13232A;
  grid-row: 2;
}

.link:hover {
  color: black;
}

.logo {
  color: #FFFFFF;
  background-color: #13232A;
  display: inline;
  font-size: 4rem;
  margin: 5px 10px 5px 0px;
}

.logopic {
  display: inline;
  position: absolute;
  right: 169px;
  bottom: 12px;
}

.logobox {
  background-color: #13232A;
  grid-column: 6/8;
  grid-row: 1/3;
  text-align: right;
  position: relative;
}

.nav-text{
  display: inline;
  align-self: center;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.nav-icon{
  display: inline;
  margin: -5px 8px -5px 20px;
}

.title {
  background-color: #FCF5E7;
  font-family: 'Ovo', serif;
  font-size: 2.5rem;
  padding: 32px 10px;
}

/* ===============cards============= */

.grid-card-wrapper {
  background-color: #FCF5E7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 15px; 
}

.card {
  border: 1px solid lightgray;
  box-shadow: 4px 4px 11px lightgray;
}

.card-one {
  grid-column: 1 / 2;
}

.next-icon {
  margin: 3px;
}

.card-info-flex {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: 25% 20% 25% 30%;
  overflow: inherit;
}

.name {
  height: 70px;
  width: 90%;
}

.link {
  background-color: lightgray;
  height: 50px;
  margin: 10px;
  padding: 10px;
  width: 85%;
}

.link-text {
  margin: 12px auto;
  font-size: 1.2rem;
}

.description {
  height: 60px;
  position: relative;
  width: 75%;
}

.price-text, 
.fan-favorites{
  display: inline-block;
  align-self: center;
  padding: 10px;
  position: absolute;
}

.favorite {
  height: 75px;
  position: relative;
  width: 95%;
}

.price-text {
  top: 5px;
  left: 80px;
  font-size: 1.6rem;
}

.fan-favorites{
  top: 11px;
  left: 83px;
  font-size: 1.4rem;
}

.dollar-icon {
  display: inline;
  margin: 5px;
  position: absolute;
  opacity: .7;
}

.dollar-icon2 {
  display: inline;
  margin: 5px;
  position: absolute;
  left: 30px;
  opacity: .7;
}

.views {
  background-color: #525353;
  position: absolute;
  left: 73%;
  top: 5%;
  border-radius: 20%;
  opacity: .8;
}

.views p {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.4rem;
  padding: 8px;
}

.views h3 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 5px;
}

.like-icon {
  display: inline;
  margin: 13px 5px;
  position: absolute;
  left: 11px;
  opacity: .7;
 }

.top-pic {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 145px;
  opacity: .8;
  position: relative;
}

 .top-pic-one{
  background-image: url(images/american.jpg);
 }
  .top-pic-two{
  background-image:url(images/chinese.jpg);
 } 
 .top-pic-three{
  background-image:url(images/italian.jpg);
 }
  .top-pic-four{
  background-image:url(images/japanese.jpg);
 }
  .top-pic-five{
  background-image:url(images/mexican.jpg);
 }
  .top-pic-six{
  background-image:url(images/pizza.jpg);
 }
  .top-pic-seven{
  background-image:url(images/vegan.jpg);
 }
  .top-pic-eight{
  background-image:url(images/vietnamese.jpg);
 }

/*=============================================*/
@media screen and (max-width: 1000px) {

  .user-login {
      grid-template-columns: 1fr 24px 125px 36px;
  }
}

/*=============================================*/
@media screen and (max-width: 700px) {

  .nav-bar-container {
      grid-template-columns: repeat(40% 20% 40%);
      grid-template-rows: 40px 40px 40px;
  }

  .link1 {
     grid-row: 1;
  }

  .link2 {
     grid-row: 2;
  }

  .link3 {
    grid-row: 3;
  }

  .logobox {
    grid-row: 2/4;
  }

  .user-login {
    grid-template-columns: 1fr 20px 188px 37px;
  }

  .user-name {
      font-size: 1.3rem;
  }

  .title {
      font-size: 3rem;
  }

}

/*=============================================*/
@media screen and (max-width: 600px) {

  .grid-card-wrapper {
    grid-template-columns: 300px;
  }

  .nav-bar-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 40px 40px 40px;
  }

   .link1 {
    grid-column: 1/3;
    grid-row: 2;
  }

  .link2 {
    grid-column: 1/3; 
    grid-row: 3;
  }

  .link3 {
    grid-column: 1/3;
    grid-row: 4;
  }

  .logobox {
    grid-row: 1;
    grid-column: span 4;
  }

  .logopic {
    right: 170px;
  }

  .nav-text{
    font-size: 1.8rem;
  }

}
